<div class="notFound_container">

  <div class="inside_container_notFound">
    <div class="notFound_title">
      4
    </div>

    <div class="container_logo">
      <a [routerLink]="['/']">
        <img src="../assets/images/icon.png" id="big_logo" aria-label="redirectr" alt="Redirectr">
      </a>
    </div>

    <div class="notFound_title">
      4
    </div>
  </div>
</div>

<div class="notFound_container" id="notFound_container_description">
  <div class="inside_container_notFound">
    <div class="notFound_description">
      Page Not Found
    </div>
  </div>
</div>

<div class="notFound_container" id="notFound_container_text">
  <div class="inside_container_notFound">
    <div class="notFound_text">
      L'ensemble de l'équipe <span style="font-weight: bold">Redirectr</span> est désolée de vous faire savoir que le contenu auquel vous souhaitiez accéder n'est plus disponible. Nous tenterons de réparer ce problème dans les plus bref délais.
    </div>
  </div>
</div>

<div class="notFound_container" id="notFound_container_text">
  <div class="inside_container_notFound">
    <div class="notFound_text">
      (Comme quoi, les liens morts existeront toujours <img src="../assets/images/smileyP.png" id="smiley" aria-label="redirectr" alt="Redirectr">)
    </div>
  </div>
</div>

<div class="notFound_container" id="notFound_container_text">
  <div class="inside_container_notFound">
    <div class="notFound_text">
      Cordialement,<br/> L'ensemble de l'équipe <span style="font-weight: bold">Redirectr</span>.
    </div>
  </div>
</div>