<div class="mat-card-content">

  <div class="mat-card-title">
    Titre
  </div>

  <div class="mat-card-link">
    Lien
  </div>

  <div class="mat-card-description">
    <span style="font-weight: bold; font-size:14px">Description : </span> C'est vraiment cool comme musique vous allez voir ce que vous allez voir ! C'est vraiment cool comme musique vous allez voir ce que vous allez voir ! C'est vraiment cool comme musique vous allez voir ce que vous allez voir ! C'est vraiment cool comme musique vous allez voir ce que vous allez voir ! C'est vraiment cool comme musique vous allez voir ce que vous allez voir ! C'est vraiment cool comme musique vous allez voir ce que vous allez voir ! C'est vraiment cool comme musique vous allez voir ce que vous allez voir ! C'est vraiment cool comme musique vous allez voir ce que vous allez voir !  C'est vraiment cool comme musique vous allez voir ce que vous allez voir !
  </div>

</div>




