
<div class="container_add_redirectr">

  <div class="title_add_redirectr">
    Ajout d'un nouveau Redirectr
  </div>

  <div class="new_redirectr">

    <div class="inside_new_redirectr">
      Titre : <textarea name="title" id="title"></textarea>
    </div>

    <div class="separation_line"></div>

    <div class="inside_new_redirectr">
      Description : <textarea name="description" id="description"></textarea>
    </div>

    <div class="separation_line"></div>

    <div class="inside_new_redirectr">
      Lien de redirection : <textarea name="main_link" id="main_link"></textarea>
    </div>

    <div class="inside_new_redirectr" id="add">
      <button class="addButton">Ajouter</button>
    </div>

  </div>

</div>
