.container_add_redirectr{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.title_add_redirectr{
    font-weight: bold;
    color: #0d47a1;
    font-size: 24px;
    text-align: center;
}

.new_redirectr {
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.2),
    0 2px 2px 0 rgba(0,0,0,.14),
    0 3px 1px -2px rgba(0,0,0,.12);
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding-top: 20px;
}

.separation_line{
    height: 1px;
    background-color: rgba(0,0,0,.12);
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
    box-shadow: 0 2px 7px 0 rgba(0,0,0,.4);
}

.inside_new_redirectr{
    padding-left: 20px;
    padding-right: 20px;
    color: #0d47a1;
}

#add{
    text-align: center;
}

.addButton{
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
    margin-top: 20px;
}

.addButton:hover{
    background-color: #e7e7e7;
}

#title{
    width: 59vw;
    margin-top: 10px;
    padding-top: 10px;
    padding-left: 10px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    resize: none;
    color: #0d47a1;
}

#title:hover {
    border: 2px solid #0d47a1;
}

#title:focus {
    border: 2px solid #0d47a1;
}

#description{
    width: 59vw;
    height: 150px;
    margin-top: 10px;
    padding-left: 10px;
    padding-top: 10px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    resize: none;
    color: #0d47a1;
}

#description:hover {
    border: 2px solid #0d47a1;
}

#description:focus {
    border: 2px solid #0d47a1;
}

#main_link{
    width: 59vw;
    margin-top: 10px;
    padding-left: 10px;
    padding-top: 10px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    resize: none;
    color: #0d47a1;
}

#main_link:hover {
    border: 2px solid #0d47a1;
}

#main_link:focus {
    border: 2px solid #0d47a1;
}

.blanck{
    padding-bottom: 400px;
}

mat-dialog-content{
    width: 100%;
}

.error{
    color: red;
}
