<div class="about_all_content">

  <div class="container_logo">
    <a [routerLink]="['/']">
      <img src="../assets/images/icon.png" id="big_logo" aria-label="redirectr" alt="Redirectr">
    </a>
  </div>

  <div class="container_about_us">

    <div class="about_us_title">
      À propos de nous
    </div>

    <div class="about_us_description">
      Vous en avez assez d'être redirigé vers un lien mort en essayant d'écouter votre musique
      préférée : <i>Rick Astley - Never Gonna Give You Up</i>, ou vous ne tombez que sur des liens morts
      lorsque vous vous baladez sur un vieux site de recettes sur la gastronomie du Bangladesh ?
      Ou encore, vous gèrez un site de streaming et la communauté se plaint d'avoir toujours des
      liens morts sur les  épisodes de Bob L'éponge ? <b>Redirectr </b>est fait
      pour vous !
    </div>

    <div class="about_us_description_title">
      Qu'apprennez-vous sur Redirectr ?
    </div>

    <div class="about_us_description">
      <b>Redirectr </b> est un site permettant de faire la connexion entre un
      lien et un contenu. En plus de cela, <b>Redirectr </b> vous propose une
      description pertinente écrite pas sa communauté et vous permet de vous renseigner
      simplement et facilement sur le lien dont vous souhaitiez voir la source, dans le cas où
      <b>Redirectr </b> ne serait pas en mesure de vous fournir un lien de
      redirection valide.
    </div>

    <div class="about_us_description_title">
      Comment pouvons-nous vous aider ?
    </div>

    <div class="about_us_description">
      Nous, la team <b> Redirectr</b>, pouvons vous aider car nous répondons à vos
      besoins. En effet, c'est vous qui êtes les acteurs majeurs de ce site : vous permettez de
      fournir des descriptions détaillées des <b> Redirectr </b> proposés.
      Vous permettez d'éliminer les liens morts et vous permettez de selectionner le meilleur
      lien possible pour un <b> Redirectr </b> donné. Vous vous aidez ainsi
      les uns les autres et c'est cela qui permet de rendre utile, voir même indispensable,
      l'utilisation de <b> Redirectr</b>.
    </div>

    <div class="about_us_description">
      En résumé, tout comme le ferait Rick Astley, <b> Redirectr </b> will..
    </div>

    <img src="../assets/images/rick_roll.png" id="rick_astley" aria-label="redirectr" alt="Redirectr">

    <div class="space_for_footer"></div>

  </div>


</div>




