<div class="about_all_content">

  <div class="container_logo">
    <a [routerLink]="['/']">
      <img src="../assets/images/icon.png" id="big_logo" aria-label="redirectr" alt="Redirectr">
    </a>
  </div>

  <div class="container_about_us">

    <div class="about_us_title">
      À propos de nous
    </div>

    <div class="about_us_description">
      Vous en avez assez d'être redirigé vers un lien mort en essayant d'écouter votre musique préférée Rick Astley - Never Gonna Give You Up, <span style="font-weight: bold">Redirectr </span>est fait pour vous !
    </div>

    <div class="about_us_description_title">
      Qu'apprennez-vous sur Redirectr ?
    </div>

    <div class="about_us_description">
      <span style="font-weight: bold">Redirectr </span> est un site permettant de faire la connection entre un lien et son contenu. En plus de cela, Redirectr vous propose une description pertinant écrite pas sa communauté et vous permettant de vous renseigner simplement et facilement par rapport le lien dont vous souhaitiez voir la source.
    </div>

    <div class="about_us_description_title">
      Comment pouvons-nous vous aider ?
    </div>

    <div class="about_us_description">
      Nous pouvons vous aider car nous répondons à vos besoins. En effet c'est vous qui êtes les acteurs majeurs de ce site : vous permettez de fournir des descriptions détaillées des <span style="font-weight: bold"> Redirectr </span> proposés. Vous permettez d'en éliminer les liens morts et vous permettez de selectionner le meilleure lien possible pour un <span style="font-weight: bold"> Redirectr </span> donné. Vous vous aidez ainsi vous même et c'est cela qui permet de rendre utile voir même indispensable l'utilisation de <span style="font-weight: bold"> Redirect</span>.
    </div>

    <div class="about_us_description">
      En résumé, tout comme le ferait Rick Astlet, <span style="font-weight: bold"> Redirectr </span> will..
    </div>

    <img src="../assets/images/rick_roll.png" id="rick_astley" aria-label="redirectr" alt="Redirectr">

    <div class="space_for_footer"></div>

  </div>


</div>




