<mat-toolbar class="extend-toolbar">

  <div class="menu">
    <div class="inside_menu" id="inside_menu_left">
      <a [routerLink]="['/']">
        <img src="../assets/images/icon.png" class="main-logo" aria-label="redirectr" alt="Redirectr" width="50" height="50">
        <p>Redirectr</p>
      </a>
    </div>

    <div class="inside_menu" id="inside_menu_center">
      <form action="" class="formulaire">
        <div class="searchFormula">
          <input class="searchbar" type="text" value="Saisir un titre ici..."/>
          <button (click)="search()" class="searchButton">Rechercher</button>
        </div>
      </form>
    </div>

    <div class="inside_menu" id="inside_menu_right">
      <div class="menuLink" [routerLink]="['/addRedirectr']">Ajouter un <span style="text-decoration: underline">Redirectr</span></div>
    </div>
  </div>

</mat-toolbar>

<div class="blank"></div>

<div class="inner_content">
  <router-outlet></router-outlet>
</div>

<footer>
  <div class="footer_content">
    <div id="copyright">© Copyright</div>

      <div id="a_propos">
        <a [routerLink]="['/aboutUs']">
          À propos
        </a>
      </div>

  </div>
</footer>
