<div class="title">
  {{ redirectr.title }}
</div>

<div class="redirectr-link">
  localhost:4242/link/{{ redirectr.id }}
</div>

<div class="description-content">
  <div class="description-title">
    Description :
  </div>

  <div class="description-p">
    {{ redirectr.description }}
  </div>
</div>

<div class="grey-line"></div>

<div class="links" *ngIf="redirectr.main_link >= 0">
  <div *ngFor="let link of redirectr.links; let i = index">
    <div class="main-link" *ngIf="redirectr.main_link === i">
      main link ! {{ link }}
    </div>
    <div class="backup-link" *ngIf="redirectr.main_link != i">
      backup link : {{ link }}
    </div>
  </div>
</div>

<div class="links" *ngIf="redirectr.main_link === -1">
  no links !
</div>
