.component_home{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  color: #0d47a1;
}

.title{
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
}

.top_redirectr_container{
  display: inline-flex;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.inside_top_redirectr_container{
  width: 26vw;
}

.list_redirectr_container{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#big_logo{
  width: 100px;
  height: 100px;
}

.space_for_footer{
  height:100px;
}

a {
  text-decoration: none;
}

.blue_line{
  height: 2px;
  background-color: #0d47a1;
  margin-top: 10px;
  width: 101vmax;
  margin-left: -13.5%;
  box-shadow: 0 2px 7px 0 rgba(0,0,0,.4);
}

.preview-link:visited {
  color: #0d47a1;
}

.card_redirectr_container{
  width: 100%;
  display: inline-flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.buttons-fab {
  display: block;
  position: fixed;
  bottom: 90px;
  right: 20px;
}
