<div class="all_content">

    <div class="component_home">

      <div class="title">
        Top 3 des <span style="font-weight: bold">Redirectr</span> les plus visités
      </div>

      <div class="top_redirectr_container">
        <a href="#/redirectrs/{{ redirectr.id }}" *ngFor="let redirectr of top3">
          <redirectr-card [redirectr]="redirectr"></redirectr-card>
        </a>
      </div>



      <div class="title">
        Liste des <span style="font-weight: bold">Redirectr</span>
      </div>

      <div class="list_redirectr_container">
        <a href="#/redirectrs/{{ redirectr.id }}" *ngFor="let redirectr of redirectrs">
          <redirectr-list [redirectr]="redirectr"></redirectr-list>
        </a>
      </div>

    </div>

</div>


