.all_content{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.component_home{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  min-height: 84vh;
  max-height: 84vh;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  color: #0d47a1;
}

.title{
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
}

.top_redirectr_container{
  display: flex;
}

.list_redirectr_container{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

